@import '../../../../styles/abstracts/variables.scss';

.Layout {
  min-height: 100vh !important;
  background: $rhino !important;
}

.Header {
  border-bottom: 1px solid $stoik-white;

  span {
    font-family: $primary-medium;
    font-size: 1.5rem;
    color: $stoik-white;

    &:nth-child(1) {
      color: $kimono-violet;
      transition: all $default-transition-duration;

      &:hover {
        color: $stoik-white;
      }
    }
  }
}

.Content {
  display: flex !important;
  align-content: center;
}

.Spinner {
  display: flex;
  width: 100%;
  justify-content: center;

  i {
    background: $stoik-white !important;
  }
}

.UserDetailsRow {
  width: 100%;
}
