@import '../../../../styles/abstracts/variables.scss';

.Layout {
  min-height: 100vh !important;
  background: $rhino !important;
}

.Header {
  border-bottom: 1px solid $stoik-white;
  margin-bottom: 30px !important;

  span {
    &:nth-child(1) {
      font-family: $primary-medium;
      font-size: 1.5rem;
      color: $stoik-white;
    }

    &:nth-child(2) {
      font-family: $primary-regular;
      font-size: .9rem;
      color: $kimono-violet;
    }
  }
}

.Users {
  margin: 0 15px !important;
}

.LoadMoreRow {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.LoadMore {
  background: transparent !important;
  color: $stoik-white !important;
  border-color: $stoik-white !important;
  font-family: $primary-regular !important;
  width: 100%;

  &:hover,
  &:active,
  &:focus {
    background-color: transparent !important;
    border-color: $heliotrope !important;
    box-shadow: none !important;
    color: $heliotrope !important;
  }
}

.Spinner {
  display: flex;
  width: 100%;
  justify-content: center;

  i {
    background: $stoik-white !important;
  }
}

@media (max-width: 576px) {
  .Header span {
    &:nth-child(1) {
      font-size: 1.2rem;
    }
    &:nth-child(2) {
      font-size: .7rem;
    }
  }
}
