@import '../../../styles/abstracts/variables.scss';

.Card {
  background: $cloud-burst !important;
  backdrop-filter: blur(7px) !important;
  border: 0 !important;
  border-radius: 7px !important;
  margin: 0 15px !important;
}

.Meta {
  display: flex !important;
  margin: 0 !important;

  &::before {
    content: none;
  }

  div {
    align-self: center;

    &:nth-child(1) {
      width: 30%;
      height: 100%;

      .Avatar {
        width: 100%;
        height: auto;
      }
    }

    &:nth-child(2) {
      width: 70%;
      height: 100%;
      display: flex;
      flex-flow: column;

      div {
        width: 100%;

        &:nth-child(1) {
          font-family: $primary-medium;
          font-size: 1.2rem;
          padding-top: 7.5px;
          letter-spacing: 1px;
          color: $stoik-white;
          margin-bottom: 30px;
        }

        &:nth-child(2) {
          div {
            font-family: $primary-regular;
            font-size: .9rem !important;
            color: $stoik-white;
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }

  button {
    font-size: .95rem;
    color: $stoik-white;
    background: $heliotrope;
    border: 0;
    border-radius: 20px;
    transition: all $default-transition-duration;

    &:hover, &:focus, &:active {
      background: $purple-honeycreeper;
    }

    &::after {
      animation: none !important;
    }
  }
}

@media (max-width: 576px) {
  .Meta {
    flex-flow: column;
  
    div {
      align-self: center;
      text-align: center;
  
      &:nth-child(1) {
        width: 50%;
        padding: 0;
  
        .Avatar {
          margin: 7.5px 0;
        }
      }
  
      &:nth-child(2) {
        width: 100%;
  
        div {  
          &:nth-child(1) {
            font-size: 1rem;
          }
  
          &:nth-child(2) {
            div {
              font-size: .7rem !important;
            }
          }
        }
      }
    }

    button {
      font-size: .75rem;
    }
  }
}