@import '../../../styles/abstracts/variables.scss';

.Card {
  background: $cloud-burst !important;
  backdrop-filter: blur(7px) !important;
  border: 0 !important;
  border-radius: 7px !important;
}

.Meta {
  display: grid !important;
  grid-template-columns: 1fr 5fr !important;
  grid-auto-flow: row !important;
  margin: 0 !important;
  font-family: $primary-medium;
  letter-spacing: 1px;

  &::before {
    content: none !important;
  }

  div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: center;
    font-size: .7rem;
    color: $stoik-white;
  }
  
  span {
    width: 80px;
    height: 80px;
  }

  button {
    font-size: .7rem;
    color: $stoik-white;
    padding: 0 15px;
    background: $heliotrope;
    border: 0;
    border-radius: 20px;
    transition: all $default-transition-duration;

    span {
      width: 100%;
      height: auto;
    }

    &:hover, &:focus, &:active {
      background: $purple-honeycreeper;
    }

    &::after {
      animation: none !important;
    }
  }
}
