@import '../abstracts/variables.scss';

html,
body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300 !important;
    font-family: $primary-regular;
    font-size: $base-font-size;
  }

  .no-shadow {
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
  }

  .ant-btn-loading::before {
    @extend .no-shadow;
  }
}

@media only screen and (max-width: 991px) {
  body {
    font-size: $tablet-font-size;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: $mobile-font-size;
  }
}
